body{
    font-family: Georgia, serif;
    color: #000;
    background: radial-gradient(circle at center, #1976d2, #0d47a1, #021b3a);
    min-height:100vh;
    overflow-x:hidden;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

nav{
    padding:20px;
    background:rgba(0,0,0,.3);
    backdrop-filter:blur(8px);
}

nav ul{
    display:flex;
    justify-content:center;
    gap:40px;
    list-style:none;
}

nav a{
    color:white;
    text-decoration:none;
    font-size:20px;
    transition:.3s;
}

nav a:hover{
    color: black;

    text-shadow:
    0 0 10px #81d4fa,
    0 0 20px #29b6f6;
}



header{
    text-align:center;
    padding:40px;
}

header h1{
    font-size:65px;
    0 0 10px #81d4fa,
    color:;


    text-shadow:
    0 0 10px #81d4fa,
    0 0 20px #29b6f6,
    0 0 40px #03a9f4,
    0 0 80px #03a9f4;
}



section{
    width:80%;
    margin:40px auto;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(10px);

    border:1px solid rgba(255,255,255,.2);

    border-radius:20px;

    padding:40px;

    box-shadow: 0 0 20px #00bfff,  0 0 40px #00bfff;
}

section h2{
    text-align:center;
    margin-bottom:20px;

    color:#81d4fa;

    font-size:35px;

    text-shadow: 0 0 10px #00bfff;
}

section p{
    font-size:22px;
    line-height:1.8;
    text-align:justify;
    margin-bottom:20px;
}


.imagenes{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.imagenes img{
    width:400px;
    border-radius:20px;

    border:3px solid #29b6f6;

    box-shadow:
    0 0 20px #29b6f6,
    0 0 40px #03a9f4;

    transition:.5s;
}

.imagenes img:hover{
    transform:scale(1.05);

    box-shadow:
    0 0 30px #81d4fa,
    0 0 60px #29b6f6;
}



body::after{
    content:"";

    position:fixed;
    bottom:0;
    left:0;

    width:100%;
    height:120px;

    background:
    linear-gradient(
    to top,
    rgba(0,255,255,.9),
    transparent);

    filter:blur(20px);

    animation:luz 2s infinite alternate;

    pointer-events:none;
}

@keyframes luz{

    from{
        transform:translateY(0);
    }

    to{
        transform:translateY(-10px);
    }
}



body::before{
    content:"";

    position:fixed;

    top:-100px;
    left:-100px;

    width:300px;
    height:300px;

    border-radius:50%;

    background:
    radial-gradient(circle,
    rgba(0,255,255,.8),
    transparent 70%);

    animation:destello 3s infinite;

    pointer-events:none;
}

@keyframes destello{

    1%{
        opacity:.4;
    }

    40%{
        opacity:1;
    }

    80%{
        opacity:.4;
    }
}



footer{
    margin-top:40px;

    text-align:center;

    padding:20px;

    background:rgba(0,0,0,.4);
}